<style>
footer .row{
    background-color: #343434;
    border-radius: 11px;  
    padding: 35px;  
}

.helps-services {
    display: inline-flex;
   
}
.list-unstyled {
    margin-top: 50px;
    margin-left: -170px;
    min-width: 270px;
}
footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 3px;
}
footer a {
    text-decoration: none;
    transition: all .3s;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer a, footer li {
    color: #c8c8c8;
}


hr {
    border: none; 
    background-color: rgb(255, 255, 255); 
    height: 3px; 
    max-width: 250px;
    
}
h1.h1 {
    font-size: 11px;
    color: white;
    opacity: 0.5;
    text-align: center;
}

.img-footer h5{
    color: #ccc;
    
}

</style>
<footer>
  <div class="container">
    <div class="row">
     <div class="img-footer col-md-3 text-center">
        <a href="../discounts"> <img src="<%=link%>" style="width: 100px" /></a>
        <h5 style="color: #ccc; text-transform: uppercase; font-size: 15px;">Сервисный <br>центр</h5>
      </div>
      <div class="col-md-3 helps-services">
        <h4 style="min-width: 170px;">Услуги по ремонту</h4>
        <hr>
      <ul class="list-unstyled col-md-6">
        <li><a href="../discounts">Компьютер</a></li>
        <li><a href="../services">Ноутбук</a></li>
        <li><a href="../contacts">Моноблок</a></li>
        <li><a href="./contacts.html">Apple</a></li>
      </ul>
      <ul class="list-unstyled col-md-6">
        <li><a href="../discounts">Планшет</a></li>
        <li><a href="../services">Телефон</a></li>
        <li><a href="../contacts">Интернет</a></li>
        <li><a href="./contacts.html">Контакты</a></li>
      </ul>
    </div>
    <div class="col-md-3 helps-services" style="color:white; margin-left: -55px;">
      <h4 style="min-width: 170px;">Важные страницы</h4>
      <hr>
    <ul class="list-unstyled col-md-6">
      <li><a href="../discounts">Сотрудничество и скидки</a></li>
      <li><a href="../services">Сервис</a></li>
      <li><a href="../contacts">Контакты</a></li>
    </ul>
    </div>
    <div class="col-md-3 helps-services">
      <h4 style="min-width: 170px;">Наша миссия</h4>
        <div class="text-block" style="color:white; margin-left: -205px; min-width: 379px; font-size: 15px;">
          <p style="padding-top:50px;">
            "Информ-Сервис" - ваш проводник в мире технологий. Мы берем на себя заботу о вашей технике.</p>
          <p>Наша цель - сделать обслуживание компьютеров, мобильных и портативных устройств максимально быстрым и удобным для вас.</p>
        </div>
    </div>
    <div class="second-block-footer" >
      <h1 class="h1">2003-2024 © Компания Информ Сервис. Все права защищены</h1>
    </div>
  </div>
</footer>

