<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Телефон - Информ Сервис</title>
    <script src="https://kit.fontawesome.com/5833c2855b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      * {
   list-style-type: none !important;

}
.img-logo img{
width: 45%;
}
.navbar-brand {
   max-width: 240px;
   max-height: 200px;
}

.nav-item a {
   font-size: 14px;
   font-weight: 400;
   color: #8A8A8A;
   font-family: Roboto, Arial, ArialRuble, sans-serif;
 }

 a.nav-link1.px-1 {
   text-decoration: none;
 }
 a.nav-link1.px-1 i.fa-solid {
   color: black;
 }
 a.nav-link1.px-1{
   font-size: 16px;
   font-weight: 400;
   color: #8A8A8A;
   font-family: Roboto, Arial, ArialRuble, sans-serif;
}

 a.nav-link1.px-1:hover {
   color: rgb(39, 38, 38);
   font-weight: 500;  
}   

i.fa-solid:hover {
 transform: scale(1.06);
}
i.fa-solid {
 transition: transform 0.4s;
}

div.text-1 a.wireless-help {
 width: 100px;
 height: 100px;
 
}

li.mt-4 a {
 text-decoration: none;
 color:black;
 font-weight: 600;
}

li.mt-4 a:hover {
 color: #153070;
}

div.callback a.callback {
 line-height: 37px;
   border-bottom: 1px dashed #153070;
   color: #153070 !important;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   transition: all 0.3s;
   text-decoration: none;
   cursor: pointer;  
}

.row.header{
 border: 1px solid #080b111a;
 border-radius: 15px;

}

.modal-content.c {

 height: 619px;
 color: white;
 background-color: #01123a00;
 border: 1px solid #0000000e;
   border-radius: 8px;
   box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
   -webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
   -moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
}


div.col-md-3 a.modal-link {
 border-bottom: 1px dashed #153070;
 color: white;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 transition: all 0.3s;
 text-decoration: none;
 cursor: pointer; 
}

* {
 text-decoration: none !important;
}

li.cards.col-lg-2{
 border-right: 2px solid #D9D9D9 !important;
 border-left: 2px solid #D9D9D9 !important;
 border-bottom: 2px solid #D9D9D9 !important;
   border-radius: 15px;
   max-width: 136px;
   max-height: 154px;
   transition: transform 0.7s;
   margin-left: 25px;
 }
 
 li.cards.col-lg-2:hover {
    border-right: 2px solid #D9D9D9 !important;
 border-left: 2px solid #D9D9D9 !important;
 border-bottom: 2px solid #D9D9D9 !important;
   box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
   -webkit-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
   -moz-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
   transform: scale(1.04);
 }
 .btn.btn-secondary{ 
   transition: transform 0.7s;
 }
 .btn.btn-secondary:hover{
   transform: scale(1.09)
 }
 li.cards a {
   text-decoration: none;
   color: black;
   font-weight: 500;
  
 }
 .carousel-control-prev, .carousel-control-next {
   background-color: black;
   border-radius: 50%;
   
 }

 .carousel-control-prev-icon, .carousel-control-next-icon {
   background-color: black;
   border-radius: 25%;
 }
 .carousel-inner {
   border-radius: 13px;
   box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
   -webkit-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
   -moz-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
 }
 
 .active-info {
   color: #153070;
   font-weight: 600;
 }

 .info-item {
   display: none;
 }

 .info-item.active-info {
   display: block;
 }


 #info-list ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 #info-list ul li {
   display: inline-block;
   margin-right: 10px;
   cursor: pointer;
 }
 .diagnostics-card img.w {
   border-radius: 10px;
   max-height: 250px;
 }

.info-item {
 min-width: 500px ;
}

.diagnostics-cards{
 border: 1px solid #212b882a;
 border-radius: 16px;
 box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
 -webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
 -moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
 background-image: url("https://kappa.lol/4wqgm");
 background-repeat: no-repeat; 
}

#carouselExampleFade {
 min-width: 880px;
 
}

.container.slider {
 margin-left: 400px;
}
.numbers {
   background: #153070;
   color: white;
   position: absolute;
   width: 35px;
   height: 35px;
   line-height: 35px;
   font-size: 15px;
   border-radius: 25px;
  
}

.container.work-progress{
   border: 1px solid #0000003b;
   border-radius: 15px;
   box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
   -webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
   -moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
}


.work-image {
   padding-top: 45px;
   padding-bottom: 25px;
}
.row p.text-center {
   font-size: 17px;
   font-weight: 500;
}

.footer-content1 {
   border-radius: 12px;
}
.carousel-caption {
   color: #fff;
   max-width: 250px; 
   max-height: 255px; 
   position: absolute; 
   top: 0; 
   left: 0; 
   margin-left: 50px;
   
  
}

 .carousel-control-prev, .carousel-control-next {
   width: auto;
   background-color: rgba(0, 0, 0, 0); 
   border-radius: 0;
   font-size: 2rem; 
   padding: 10px 20px; 
 }
footer .row{
   background-color: #343434;
   border-radius: 11px;  
   padding: 35px;  
}

.helps-services {
   display: inline-flex;
  
}
.list-unstyled {
   margin-top: 50px;
   margin-left: -170px;
   min-width: 270px;
}
footer h4 {
   color: #ccc;
   text-transform: uppercase;
   font-size: 16px;
   padding-bottom: 3px;
}
footer a {
   text-decoration: none;
   transition: all .3s;
}
footer a:hover {
   color: #fff;
   text-decoration: underline;
}
footer a, footer li {
   color: #c8c8c8;
}


hr {
   border: none; 
   background-color: rgb(255, 255, 255); 
   height: 3px; 
   max-width: 250px;
   
}
h1.h1 {
   font-size: 11px;
   color: white;
   opacity: 0.5;
   text-align: center;
}

.img-footer h5{
   color: #ccc;
   
}

.text-header-service p {
   font-size: 30px;
   line-height: 33px;
   font-weight: 370;
}


.text-center.pt-2 {
   transition: transform 0.7s;
   color: black;
}

.first-text-pc {
   width: 650px !important;
   padding-right: 29px !important;
   border-right: 1px solid #D9D9D9 !important;
}

.second-text-pc {
   padding-left: 29px !important;
}


.work-progress-pc{
   border: 1px solid #00000000;
   border-radius: 15px;
}

.cards.active {
    transform: scale(1.09);
   box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
   -webkit-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
   -moz-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
}
.uslugi-price-button {
    font-size: 17px;
    color: #333333;
    position: relative;
    padding-left: 10px;
    margin: 17px;
    text-align: left;
    height: 24px;
    display: inline-block;
    
}

.cards-service-laptop {
   width: 639px;
   height: 61px;
   border-bottom: 2px solid #D9D9D9 !important;
   cursor: pointer;
}

h6, h5{
    transition: transform 0.7s;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 0px;
}
.cards-service-laptop:hover .uslugi-price-button {
    color: #153070; /* Цвет текста при наведении */
    transform: scale(1.09);
}

.card-service.col-md-4 {
    color: black;
    height: 130px;
    border-top: 2px solid #D9D9D9 !important;
    border-right: 2px solid #D9D9D9 !important;
    transition: transform 0.7s;
}
.card-service.col-md-4:hover {
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.36);
}
.card-service.col-md-4:hover .text-center.pt-2 {
    color: #153070;
    transform: scale(1.09);
    
}
h5.uslugi-price-button {
    font-weight: 700;
}
.first-text-pc {
    width: 650px !important;
    height: 550px;
    padding-right: 29px !important;
    border-right: 1px solid #D9D9D9 !important;
}@media screen and (max-width: 1200px) {
    .img-logo img {
        width: 30%;
    }
    .navbar-brand {
        max-width: 240px;
        max-height: 200px;
    }
    .carousel-inner {
        border-radius: 13px;
        box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
    }
    .container.slider {
        margin-left: 400px;
    }
    .cards-service-laptop {
        width: 639px;
    }
    .first-text-pc {
        width: 650px !important;
    }
    .info-item {
        min-width: 500px ;
    }
    .row.product-card {
        margin-left: 5%;
        margin-right: 5%;
    }
.footer-content {
        display: none ;
    }
    .second-text-pc {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .second-text-pc {
        display: none;
    }
    .img-logo img {
        width: 70%;
    }
    .navbar-brand {
        max-width: 120px;
        max-height: 100px;
    }
    .nav-item a {
        font-size: 12px;
    }
    a.nav-link1.px-1 {
        font-size: 14px;
    }
    div.text-1 a.wireless-help {
        width: 80px;
        height: 80px;
    }
    .modal-content.c {
        height: auto;
    }
    li.cards.col-lg-2 {
        border: none;
        max-width: 100%;
        max-height: auto;
        margin-left: 0;
    }
    .btn.btn-secondary {
        width: 100%;
    }
    .container.slider {
        margin-left: 0;
    }
    #carouselExampleFade {
        min-width: 100%;
    }
    .first-text-pc, .second-text-pc {
        width: 100% !important;
        height: auto !important;;
        padding: 0 !important;
        border: none !important;
    }
    .cards-service-laptop {
        width: 400px;
        height: auto;
        border-bottom: 1px solid #D9D9D9 !important;
    }
    .card-service.col-md-4 {
        width: 100%;
        border: none !important;
    }
    .text-center.pt-2 {
        font-size: 14px;
    }
    .uslugi-price-button {
        font-size: 13px;
       margin-bottom: 0px;
    }
    
}
   </style>
</head>
<body>
    <% if (locals.user==null) { %>
        <header> <%- include('./partials/header_for_index'); %></header>
        <% } %>
        <% if (locals.user) { %>
        <%- include('./partials/header_post'); %>
        <% } %>
<body>
    <section class="main-content">
        <div class="container">
            <div class="row product-card ps-5 ms-5 pb-4">
                <li class="cards col-lg-2 col-md-2 col-sm-12">
                    <a href="./pc">
                          <div class="img-block text-center pt-4">
                             <img src="https://kappa.lol/PCLD-">
                          </div>
                          <div class="text-block text-center">
                            <p class="col-md-6 pt-4 ps-1 ms-2 ">Компьютер</p>
                           </div>
                    </a>
                    </li>
                    <li class="cards col-lg-2 col-md-2 col-sm-12">
                        <a href="./laptop">
                              <div class="img-block text-center pt-4">
                                <img src="https://kappa.lol/q8ddl">
                              </div>
                              <div class="text-block text-center">
                                <p class="col-md-6 pt-3 ps-4 ">Ноутбук</p>
                               </div>
                        </a>
                        </li>
                    <li class="cards active col-lg-2 col-md-2 col-sm-12">
                      <a href="./mobile">
                            <div class="img-block text-center pt-4">
                                <img src="https://kappa.lol/x7_-K">
                            </div>
                            <div class="text-block text-center">
                              <p class="col-md-6 pt-3 ps-4 ">Телефон</p>
                             </div>
                      </a>
                      </li>
                      <li class="cards col-lg-2 col-md-2 col-sm-12">
                        <a href="./apple">
                              <div class="img-block text-center pt-4">
                                <img src="https://kappa.lol/nMk9Q">
                              </div>
                              <div class="text-block text-center">
                                <p class="col-md-6 pt-3 ps-4 ms-2">Apple</p>
                               </div>
                        </a>
                        </li>
                        <li class="cards col-lg-2 col-md-2 col-sm-12">
                          <a href="./tablet">
                                <div class="img-block text-center pt-4">
                                    <img src="https://kappa.lol/eIo4l">
                                </div>
                                <div class="text-block text-center">
                                  <p class="col-md-6 pt-3 ps-3 ms-1 ">Планшет</p>
                                 </div>
                          </a>
                          </li>
                          <li class="cards col-lg-2 col-md-2 col-sm-12">
                            <a href="./internet">
                                  <div class="img-block text-center pt-4 ">
                                   <img src="https://kappa.lol/XJcou">
                                  </div>
                                  <div class="text-block text-center">
                                    <p class="col-md-6 pt-3 ps-3 ms-1">Интернет</p>
                                   </div>
                            </a>
                            </li>
            </div>
        </div>
        <form action="/submit_request" method="POST">
            <section class="second-content pb-5">
                <div class="container">
                    <div class="row ms-2">
                        <div class="text-header-service" style="color:#153070 ">
                            <p>Услуги и цены по ремонту телефонов</p>
                            <hr style="color:black; min-width:1180px;">
                        </div> 
                        <div class="first-text-pc col-md-6">
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Замена аккумулятора">
                                    <h6 class="uslugi-price-button">Замена аккумулятора</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 600 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Замена дисплея">
                                    <h6 class="uslugi-price-button">Замена дисплея</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 1200 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Ремонт разъема зарядки">
                                    <h6 class="uslugi-price-button">Ремонт разъема зарядки</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 500 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Ремонт кнопок">
                                    <h6 class="uslugi-price-button">Ремонт кнопок</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 400 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Чистка от пыли и грязи">
                                    <h6 class="uslugi-price-button">Чистка от пыли и грязи</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 300 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Установка защитной пленки">
                                    <h6 class="uslugi-price-button">Установка защитной пленки</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 200 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Восстановление после воды">
                                    <h6 class="uslugi-price-button">Восстановление после воды</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 800 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Программная настройка">
                                    <h6 class="uslugi-price-button">Программная настройка</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 350 ₽</h5>
                                </label>
                            </div>
                            <div class="cards-service-laptop">
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" name="service" value="Ремонт камеры">
                                    <h6 class="uslugi-price-button">Ремонт камеры</h6>
                                    <h5 class="uslugi-price-button" style="float: right;">от 700 ₽</h5>
                                </label>
                            </div>
                            <button class="btn btn-primary mt-3" id="orderButton" data-bs-toggle="modal" data-bs-target="#confirmationModal">Заказать</button>
                        </div>
                        
                            
                            <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmationModalLabel">Подтверждение заказа</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p id="selectedServices"></p>
                                        <div class="mb-3">
                                            <label for="comments" class="form-label">Комментарий:</label>
                                            <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button> 
                                        <button class="btn btn-primary" id="confirmOrderButton">Подтвердить заказ</button> 
                                    </div>
                                
                                
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="selectedServiceInput" name="selectedService">
                       
                   
                            <div class="second-text-pc col-md-6">
                                <div class="img text-center pb-3">
                                    <img src="https://kappa.lol/mvYDh" alt="" width="350" height="250">
                                </div>
                                <p class="text-uslugi">Самым частым поводом для обращения к специалистам становится их механическое повреждение (после падения, удара, попадания внутрь влаги, др.) либо программный сбой. В нашем сервисном центре компьютерной помощи Информ Сервис на профессиональном уровне выполняются настройка и ремонт ноутбуков ведущих производителей, их высокоточная диагностика, качественная профилактика, модернизация.</p>
                                <div class="row">
                                    <div class="card-service col-md-4 text-center pt-4 ">
                                        <a href=""><img src="https://kappa.lol/j8sv3">
                                            <p class="text-center pt-2">Ремонт</p></a>
                                        </div>
                                        <div class="card-service col-md-4 text-center pt-4">
                                            <a href=""><img src="https://kappa.lol/2fgKv">
                                                <p class="text-center pt-2">Настройка</p></a>
                                            </div>
                                            <div class="card-service col-md-4 text-center pt-4">
                                                <a href=""><img src="https://kappa.lol/bXRuu">
                                                    <p class="text-center pt-2">Установка ПО</p></a>
                                                </div>
                                            </div>
                            </div>
                    </div>
                </div>
            </section>
        </form>
            <section class="footer-content pb-5 pt-2">
              <%- include('./partials/footer-content'); %></section>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
    <script>
      
        var isRequestSent = false;
    
      
        document.getElementById('orderButton').addEventListener('click', function (event) {
            event.preventDefault(); 
    
          
            if (!isRequestSent) {
             
                isRequestSent = true;
    
          
                var selectedServices = document.querySelectorAll('input[name="service"]:checked');
                var selectedServicesValues = Array.from(selectedServices).map(function (checkbox) {
                    return checkbox.value;
                });
    
            
                document.getElementById('selectedServices').textContent = "Выбранные услуги: " + selectedServicesValues.join(', ');
    
             
                $('#confirmationModal').modal('show');
            }
        });
 
        document.getElementById('confirmOrderButton').addEventListener('click', function () {
        
            if (!isRequestSent) {
            
                var selectedServices = document.querySelectorAll('input[name="service"]:checked');
                var selectedServicesValues = Array.from(selectedServices).map(function (checkbox) {
                    return checkbox.value;
                });
    
          
                var comments = document.getElementById('comments').value;
    
             
                fetch('/submit_request', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        service: selectedServicesValues, 
                        comments: comments
                    })
                }).then(function (response) {
                    if (response.ok) {
                       
                        $('#confirmationModal').modal('hide');
                    } else {
                 
                        console.error('Ошибка при отправке запроса на сервер');
                    }
                }).catch(function (error) {
               
                    console.error('Ошибка при выполнении fetch:', error);
                });
    
              
                isRequestSent = true;
            }
        });
    </script>
    
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/app.js"></script> 
</body>
</html>