<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Компьютер - Информ Сервис</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/pc.css">
    <link rel="stylesheet" href="../css/content.css">
    <link rel="stylesheet" href="../css/footer-content.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/Adaptation.css">
    <script src="https://kit.fontawesome.com/5833c2855b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
       * {
    list-style-type: none !important;

}
.img-logo img{
 width: 45%;
}
.navbar-brand {
    max-width: 240px;
    max-height: 200px;
}

.nav-item a {
    font-size: 14px;
    font-weight: 400;
    color: #8A8A8A;
    font-family: Roboto, Arial, ArialRuble, sans-serif;
  }

  a.nav-link1.px-1 {
    text-decoration: none;
  }
  a.nav-link1.px-1 i.fa-solid {
    color: black;
  }
  a.nav-link1.px-1{
    font-size: 16px;
    font-weight: 400;
    color: #8A8A8A;
    font-family: Roboto, Arial, ArialRuble, sans-serif;
}

  a.nav-link1.px-1:hover {
    color: rgb(39, 38, 38);
    font-weight: 500;  
}   

i.fa-solid:hover {
  transform: scale(1.06);
}
i.fa-solid {
  transition: transform 0.4s;
}

div.text-1 a.wireless-help {
  width: 100px;
  height: 100px;
  
}

li.mt-4 a {
  text-decoration: none;
  color:black;
  font-weight: 600;
}

li.mt-4 a:hover {
  color: #153070;
}

div.callback a.callback {
  line-height: 37px;
    border-bottom: 1px dashed #153070;
    color: #153070 !important;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    cursor: pointer;  
}

.row.header{
  border: 1px solid #080b111a;
  border-radius: 15px;

}

.modal-content.c {

  height: 619px;
  color: white;
  background-color: #01123a00;
  border: 1px solid #0000000e;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
}


div.col-md-3 a.modal-link {
  border-bottom: 1px dashed #153070;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer; 
}

* {
  text-decoration: none !important;
}

li.cards.col-lg-2{
  border-right: 2px solid #D9D9D9 !important;
  border-left: 2px solid #D9D9D9 !important;
  border-bottom: 2px solid #D9D9D9 !important;
    border-radius: 15px;
    max-width: 136px;
    max-height: 154px;
    transition: transform 0.7s;
    margin-left: 25px;
  }
  
  li.cards.col-lg-2:hover {
     border-right: 2px solid #D9D9D9 !important;
  border-left: 2px solid #D9D9D9 !important;
  border-bottom: 2px solid #D9D9D9 !important;
    box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
    -webkit-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
    -moz-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
    transform: scale(1.04);
  }
  .btn.btn-secondary{ 
    transition: transform 0.7s;
  }
  .btn.btn-secondary:hover{
    transform: scale(1.09)
  }
  li.cards a {
    text-decoration: none;
    color: black;
    font-weight: 500;
   
  }
  .carousel-control-prev, .carousel-control-next {
    background-color: black;
    border-radius: 50%;
    
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
    border-radius: 25%;
  }
  .carousel-inner {
    border-radius: 13px;
    box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
  }
  
  .active-info {
    color: #153070;
    font-weight: 600;
  }

  .info-item {
    display: none;
  }

  .info-item.active-info {
    display: block;
  }

  /* Убираем стандартные маркеры списка */
  #info-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Оформление списка горизонтально */
  #info-list ul li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  .diagnostics-card img.w {
    border-radius: 10px;
    max-height: 250px;
  }

.info-item {
  min-width: 500px ;
}

.diagnostics-cards{
  border: 1px solid #212b882a;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
  -webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
  background-image: url("https://kappa.lol/4wqgm");
  background-repeat: no-repeat; 
}

#carouselExampleFade {
  min-width: 880px;
  
}

.container.slider {
  margin-left: 400px;
}
.numbers {
    background: #153070;
    color: white;
    position: absolute;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    border-radius: 25px;
   
}

.container.work-progress{
    border: 1px solid #0000003b;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
}


.work-image {
    padding-top: 45px;
    padding-bottom: 25px;
}
.row p.text-center {
    font-size: 17px;
    font-weight: 500;
}

.footer-content1 {
    border-radius: 12px;
}
.carousel-caption {
    color: #fff;
    max-width: 250px; 
    max-height: 255px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    margin-left: 50px;
    
   
}

  .carousel-control-prev, .carousel-control-next {
    width: auto;
    background-color: rgba(0, 0, 0, 0); 
    border-radius: 0;
    font-size: 2rem; 
    padding: 10px 20px; 
  }
footer .row{
    background-color: #343434;
    border-radius: 11px;  
    padding: 35px;  
}

.helps-services {
    display: inline-flex;
   
}
.list-unstyled {
    margin-top: 50px;
    margin-left: -170px;
    min-width: 270px;
}
footer h4 {
    color: #ccc;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 3px;
}
footer a {
    text-decoration: none;
    transition: all .3s;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer a, footer li {
    color: #c8c8c8;
}


hr {
    border: none; 
    background-color: rgb(255, 255, 255); 
    height: 3px; 
    max-width: 250px;
    
}
h1.h1 {
    font-size: 11px;
    color: white;
    opacity: 0.5;
    text-align: center;
}

.img-footer h5{
    color: #ccc;
    
}

.text-header-service p {
    font-size: 30px;
    line-height: 33px;
    font-weight: 370;
}

.card-service.col-md-3 {
    width: 299px;
    height: 130px;
    border-right: 2px solid #D9D9D9 !important;
    border-top: 2px solid #D9D9D9 !important;
    border-bottom: 2px solid #D9D9D9 !important;
    transition: transform 0.7s;
}

.card-service-bottom.col-md-3 {
    width: 299px;
    height: 130px;
    border-right: 2px solid #D9D9D9 !important;
    border-bottom: 2px solid #D9D9D9 !important;
    transition: transform 0.7s;
}

.card-service-right.col-md-3 {
    color: black;
    width: 299px;
    height: 130px;
    border-top: 2px solid #D9D9D9 !important;
    border-bottom: 2px solid #D9D9D9 !important;
    transition: transform 0.7s;
}
.card-service-bottom-right.col-md-3 {
    width: 299px;
    height: 130px;
    border-bottom: 2px solid #D9D9D9 !important;
    transition: transform 0.7s;
}

.card-service.col-md-3:hover,.card-service-bottom.col-md-3:hover, .card-service-right.col-md-3:hover, .card-service-bottom-right.col-md-3:hover, .text-center.pt-2:hover, .card-service.col-md-3:hover .text-center.pt-2, .card-service-right:hover .text-center.pt-2,.card-service-bottom.col-md-3:hover .text-center.pt-2, .card-service-bottom-right.col-md-3:hover .text-center.pt-2 {
    transform: scale(1.09);
    color: #153070;
}
.text-center.pt-2 {
    transition: transform 0.7s;
    color: black;
}

.first-text-pc {
    width: 650px !important;
    padding-right: 29px !important;
    border-right: 1px solid #D9D9D9 !important;
}

.second-text-pc {
    padding-left: 29px !important;
}


.work-progress-pc{
    border: 1px solid #00000000;
    border-radius: 15px;
}

.cards.active {
     transform: scale(1.09);
    box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
    -webkit-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
    -moz-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
}
@media (max-width: 1440px) {
        .container {
          padding: 0;
          margin-left: 0;
        }
        .second-block-content {
    display: none;
  }
      }
      @media (max-width: 1200px) {
        .container {
          padding: 0;
          margin-left: 0;
        }
        li.cards.col-lg-2 {
        margin-left: 0;
        
        }
        
      }
      @media (max-width: 1199px) {
  .container.slider {
    margin-left: 0;
  }
  .second-block-content {
    display: none;
  }
  #carouselExampleFade {
    min-width: 100%;
  }

  .carousel-caption {
    margin-left: 0;
    max-width: 100%;
  }

  .diagnostics-card img.w {
    max-height: 200px;
  }

  .info-item {
    min-width: 100%;
  }
  .col-md-6.pt-3.ps-4.w {
    margin-left: -10px;
  }

  .text-block.text-center.w {
    margin-left: -20px;
  }
  .text-block.text-center.w2 {
    margin-left: -10px;
  }
  .text-block.text-center.w3 {
    margin-left: -12px;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    max-width: 120px;
    max-height: 100px;
  }

  .carousel-caption {
    font-size: 14px;
    max-width: 100%;
  }

  .list-unstyled {
    margin-left: 0;
    min-width: 100%;
  }

}
    </style>
</head>
<body>
  <% if (locals.user==null) { %>
    <header> <%- include('./partials/header_for_index'); %></header>
    <% } %>
    <% if (locals.user) { %>
    <%- include('./partials/header_post'); %>
    <% } %>
<body>
    <section class="main-content">
        <div class="container">
            <div class="row product-card ps-5 ms-5 pb-4">
                <li class="cards active col-lg-2 col-md-2 col-sm-12">
                  <a href="./pc">
                        <div class="img-block text-center pt-4">
                           <img src="https://kappa.lol/lG1-f">
                        </div>
                        <div class="text-block text-center">
                          <p class="col-md-6 pt-4 ps-1 ms-2 ">Компьютер</p>
                         </div>
                  </a>
                  </li>
                  <li class="cards col-lg-2 col-md-2 col-sm-12">
                    <a href="./laptop">
                          <div class="img-block text-center pt-4">
                            <img src="https://kappa.lol/q8ddl">
                          </div>
                          <div class="text-block text-center w">
                            <p class="col-md-6 pt-3 ps-4 ">Ноутбук</p>
                           </div>
                    </a>
                    </li>
                    <li class="cards col-lg-2 col-md-2 col-sm-12">
                      <a href="./mobile">
                            <div class="img-block text-center pt-4">
                                <img src="https://kappa.lol/Tw8FW">
                            </div>
                            <div class="text-block text-center w">
                              <p class="col-md-6 pt-3 ps-4">Телефон</p>
                             </div>
                      </a>
                      </li>
                      <li class="cards col-lg-2 col-md-2 col-sm-12">
                        <a href="./apple">
                              <div class="img-block text-center pt-4">
                                <img src="https://kappa.lol/nMk9Q">
                              </div>
                              <div class="text-block text-center w">
                                <p class="col-md-6 pt-3 ps-4 ms-2">Apple</p>
                               </div>
                        </a>
                        </li>
                        <li class="cards col-lg-2 col-md-2 col-sm-12">
                          <a href="./tablet">
                                <div class="img-block text-center pt-4">
                                    <img src="https://kappa.lol/eIo4l">
                                </div>
                                <div class="text-block text-center w">
                                  <p class="col-md-6 pt-3 ps-3 ms-1 ">Планшет</p>
                                 </div>
                          </a>
                          </li>
                          <li class="cards col-lg-2 col-md-2 col-sm-12">
                            <a href="./internet">
                                  <div class="img-block text-center pt-4 ">
                                   <img src="https://kappa.lol/XJcou">
                                  </div>
                                  <div class="text-block text-center w">
                                    <p class="col-md-6 pt-3 ps-3 ms-1">Интернет</p>
                                   </div>
                            </a>
                            </li>
            </div>
        </div>
            <div class="container service-pc pb-5">
                <div class="row ms-5">
                    <div class="text-header-service">
                        <p>Выберите услугу по ремонту компьютера</p>
                    </div>
                    <div class="card-service col-md-3 text-center pt-4 ">
                        <a href="./pc-service"><img src="https://kappa.lol/j8sv3">
                        <p class="text-center pt-2">Ремонт Компьютеров</p></a>
                    </div>
                    <div class="card-service col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/2fgKv">
                        <p class="text-center pt-2">Настройка компьютера</p></a>
                    </div>
                    <div class="card-service col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/bXRuu">
                        <p class="text-center pt-2">Установка Windows</p></a>
                    </div>
                    <div class="card-service-right col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/H11jr">
                        <p class="text-center pt-2">Установка программ</p></a>
                    </div>
                    <div class="card-service-bottom col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/t9_cQ">
                        <p class="text-center pt-2">Ускорение работы</p></a>
                    </div>
                    <div class="card-service-bottom col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/ZF9SE">
                        <p class="text-center pt-2">Чистка и профилактика</p></a>
                    </div>
                    <div class="card-service-bottom col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/yEitT">
                        <p class="text-center pt-2">Модернизация</p></a>
                    </div>
                    <div class="card-service-bottom-right col-md-3 text-center pt-4">
                        <a href="./pc-service"><img src="https://kappa.lol/aggfB">
                        <p class="text-center pt-2">Сборка компьютера</p></a>
                    </div>
                </div>
            </div>
            <section class="second-content pb-5">
                <div class="container">
                    <div class="row ms-2">
                        <div class="text-header-service" style="color:#153070 ">
                            <p>Ремонт компьютера на дому: неотложная помощь <br> вашему другу и партнеру</p>
                            <hr style="color:black; min-width:1180px;">
                        </div>
                            <div class="first-text-pc col-md-6">
                                <p class="text-uslugi">В очередной раз завис компьютер? Не хватает оперативной памяти для того, чтобы запустить любимую игру? Ни с того, ни с сего отключается системник? Не стоит паниковать! К вашим услугам скорая компьютерная помощь. Компания «Информ Сервис» в кратчайшее время диагностирует причину неполадки и по мере возможности устранит таковую.</p>
                                <p class="text-uslugi">Как правило, к нам обращаются в экстренных ситуациях, когда поломка становится очевидной ― например, перед пользователем загорается синий, как море, экран или же компьютер вообще не включается. Но на, казалось бы, незначительные неполадки тоже следует обращать внимание вовремя, и тогда компьютерная помощь на дому обернется небольшим ремонтом, а не заменой комплектующих или всего компьютера, особенно когда речь идет о ноутбуке.</p>
                                <p class="text-uslugi"><i>Симптомы болезней и их лечение: любое дело лучше доверить профессионалу!</i></p>
                                <p class="text-uslugi">Не стесняйтесь обращаться к мастеру по ремонту компьютеров на дому, если ваш кот перевернул на комп стакан сладкого чая или сока, а ребенок просто растопил шоколадную конфету на нагревшемся ноутбуке. Не игнорируйте непривычные звуки при работе вашего ПК: если в системном блоке что-то загудело, как самолет, или шум кулера заметно усиливается при длительном использовании техники. Вызывайте скорую компьютерную помощь, если у вас часто возникают системные ошибки или другие проблемы с выполнением задач, которые вы ставите перед своим ПК.</p>
                                <p class="text-uslugi">Многие юзеры пытаются решить проблемы своими силами с помощью советов из интернета. Но следует понимать, что одни и те же «симптомы» могут быть у разных недугов техники. Например, компьютер может тормозить в случае недостаточного количества оперативной памяти (при выполнении нескольких задач одновременно), а также при перегреве процессора, при чрезмерном наполнении системного диска, иногда при заражении ПК вирусом. Соответственно, у каждой проблемы свое решение, и подобрать оптимальное, причем в кратчайшие сроки, может только мастер.</p>
                            </div>
                            <div class="second-text-pc col-md-6">
                                <div class="img text-center">
                                    <img src="https://kappa.lol/oBhUD" alt="" width="350">
                                </div>
                                <p class="text-uslugi"><i>«Информ Сервис» ― скорая компьютерная помощь на дому.</i></p>
                                <p class="text-uslugi">Зачастую пользователям проблема кажется незначительной, а ее решение дорогостоящим. Компания «Информ Сервис»  готова сломать этот стереотип: несмотря на проведение ремонта компьютеров на дому, наши цены доступны. При этом мы понимаем, что ПК может быть вашей рабочей лошадкой и от скорости восстановления его работоспособности зависит ваш доход.</p>
                                <p class="text-uslugi">Мы осознаем, что все пользователи не могут быть специалистами в компьютерной технике, и с пониманием относимся, если вызов мастера действительно не был оправдан. Мы понимаем, что уследить за новинками техники по-настоящему сложно, и даже в выборе мышки вам может понадобиться помощь, не говоря уже о других устройствах, которые должны быть совместимы с вашим ПК.</p>
                                <p class="text-uslugi"><i>«Информ Сервис»  ― ваш помощник в любых вопросах, связанных с компьютерной техникой!</i></p>
                            </div>
                    </div>
                </div>
            </section>
            <section class="footer-content pb-5">
              <%- include('./partials/footer-content'); %>
            </section>
    <footer>
      <%- include('./partials/footer'); %>
    </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/app.js"></script> 
</body>
</html>