<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/5833c2855b.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/index.css" />
  <title>Сервис</title>
</head>
<style>
  * {
list-style-type: none !important;

}
.img-logo img{
width: 45%;
}
.navbar-brand {
max-width: 240px;
max-height: 200px;
}

.nav-item a {
font-size: 14px;
font-weight: 400;
color: #8A8A8A;
font-family: Roboto, Arial, ArialRuble, sans-serif;
}

a.nav-link1.px-1 {
text-decoration: none;
}
a.nav-link1.px-1 i.fa-solid {
color: black;
}
a.nav-link1.px-1{
font-size: 16px;
font-weight: 400;
color: #8A8A8A;
font-family: Roboto, Arial, ArialRuble, sans-serif;
}

a.nav-link1.px-1:hover {
color: rgb(39, 38, 38);
font-weight: 500;  
}   

i.fa-solid:hover {
transform: scale(1.06);
}
i.fa-solid {
transition: transform 0.4s;
}

div.text-1 a.wireless-help {
width: 100px;
height: 100px;

}

li.mt-4 a {
text-decoration: none;
color:black;
font-weight: 600;
}

li.mt-4 a:hover {
color: #153070;
}

div.callback a.callback {
line-height: 37px;
border-bottom: 1px dashed #153070;
color: #153070 !important;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
text-decoration: none;
cursor: pointer;  
}

.row.header{
border: 1px solid #080b111a;
border-radius: 15px;

}



.modal-content.c {

height: 619px;
color: white;
background-color: #01123a00;
border: 1px solid #0000000e;
border-radius: 8px;
box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
}


div.col-md-3 a.modal-link {
border-bottom: 1px dashed #153070;
color: white;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
text-decoration: none;
cursor: pointer; 
}

* {
text-decoration: none !important;
}

li.cards.col-lg-2{
border-right: 2px solid #D9D9D9 !important;
border-left: 2px solid #D9D9D9 !important;
border-bottom: 2px solid #D9D9D9 !important;
border-radius: 15px;
max-width: 136px;
max-height: 154px;
transition: transform 0.7s;
margin-left: 25px;
}

li.cards.col-lg-2:hover {
 border-right: 2px solid #D9D9D9 !important;
border-left: 2px solid #D9D9D9 !important;
border-bottom: 2px solid #D9D9D9 !important;
box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
-webkit-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
-moz-box-shadow: 0px 8px 25px -3px rgba(21,48,112,0.75);
transform: scale(1.04);
}
.btn.btn-secondary{ 
transition: transform 0.7s;
}
.btn.btn-secondary:hover{
transform: scale(1.09)
}
li.cards a {
text-decoration: none;
color: black;
font-weight: 500;

}
.carousel-control-prev, .carousel-control-next {
background-color: black;
border-radius: 50%;

}

.carousel-control-prev-icon, .carousel-control-next-icon {
background-color: black;
border-radius: 25%;
}
.carousel-inner {
border-radius: 13px;
box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 7px -6px 8px -7px rgba(0,0,0,0.75);
}

.active-info {
color: #153070;
font-weight: 600;
}

.info-item {
display: none;
}

.info-item.active-info {
display: block;
}

/* Убираем стандартные маркеры списка */
#info-list ul {
list-style: none;
padding: 0;
margin: 0;
}

/* Оформление списка горизонтально */
#info-list ul li {
display: inline-block;
margin-right: 10px;
cursor: pointer;
}
.diagnostics-card img.w {
border-radius: 10px;
max-height: 250px;
}

.info-item {
min-width: 500px ;
}

.diagnostics-cards{
border: 1px solid #212b882a;
border-radius: 16px;
box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
background-image: url("https://kappa.lol/4wqgm");
background-repeat: no-repeat; 
}

#carouselExampleFade {
min-width: 880px;

}

.container.slider {
margin-left: 400px;
}
.numbers {
background: #153070;
color: white;
position: absolute;
width: 35px;
height: 35px;
line-height: 35px;
font-size: 15px;
border-radius: 25px;

}

.container.work-progress{
border: 1px solid #0000003b;
border-radius: 15px;
box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.21);
}


.work-image {
padding-top: 45px;
padding-bottom: 25px;
}
.row p.text-center {
font-size: 17px;
font-weight: 500;
}

.footer-content1 {
border-radius: 12px;
}
.carousel-caption {
color: #fff;
max-width: 250px; 
max-height: 255px; 
position: absolute; 
top: 0; 
left: 0; 
margin-left: 50px;


}

.carousel-control-prev, .carousel-control-next {
width: auto;
background-color: rgba(0, 0, 0, 0); 
border-radius: 0;
font-size: 2rem; 
padding: 10px 20px; 
}
footer .row{
background-color: #343434;
border-radius: 11px;  
padding: 35px;  
}

.helps-services {
display: inline-flex;

}
.list-unstyled {
margin-top: 50px;
margin-left: -170px;
min-width: 270px;
}
footer h4 {
color: #ccc;
text-transform: uppercase;
font-size: 16px;
padding-bottom: 3px;
}
footer a {
text-decoration: none;
transition: all .3s;
}
footer a:hover {
color: #fff;
text-decoration: underline;
}
footer a, footer li {
color: #c8c8c8;
}


hr {
border: none; 
background-color: rgb(255, 255, 255); 
height: 3px; 
max-width: 250px;

}
h1.h1 {
font-size: 11px;
color: white;
opacity: 0.5;
text-align: center;
}

.img-footer h5{
color: #ccc;

}

</style>
<body>
  <% if (locals.user==null) { %>
    <header>
      <%- include('./partials/header_for_index_auth'); %>
      <% } %>
      <% if (locals.user) { %>
        <%- include('./partials/header_post'); %>
        <% } %>
      </header>

<section class="main-content pb-4">
  <div class="container">
      <div class="row product-card ps-5 ms-5">
          <li class="cards col-lg-2 col-md-2 col-sm-12">
            <a href="./pc">
                  <div class="img-block text-center pt-4">
                     <img src="https://kappa.lol/tY2Qc">
                  </div>
                  <div class="text-block text-center">
                    <p class="col-md-6 pt-4 ps-1 ms-2">Компьютер</p>
                   </div>
            </a>
            </li>
            <li class="cards col-lg-2 col-md-2 col-sm-12">
              <a href="./laptop">
                    <div class="img-block text-center pt-4">
                      <img width="60" src="https://kappa.lol/aOLEr">
                    </div>
                    <div class="text-block text-center">
                      <p class="col-md-6 pt-3 ps-4 ">Ноутбук</p>
                     </div>
              </a>
              </li>
              <li class="cards col-lg-2 col-md-2 col-sm-12">
                <a href="/index.html">
                      <div class="img-block text-center pt-4">
                       <img width="60" src="https://kappa.lol/9zCiY">
                      </div>
                      <div class="text-block text-center">
                        <p class="col-md-6 pt-3 ps-4 ">Телефон</p>
                       </div>
                </a>
                </li>
                <li class="cards col-lg-2 col-md-2 col-sm-12">
                  <a href="/index.html">
                        <div class="img-block text-center pt-4">
                          <img width="60" src="https://kappa.lol/LnYkr">
                        </div>
                        <div class="text-block text-center">
                          <p class="col-md-6 pt-3 ps-4 ms-2">Apple</p>
                         </div>
                  </a>
                  </li>
                  <li class="cards col-lg-2 col-md-2 col-sm-12">
                    <a href="/index.html">
                          <div class="img-block text-center pt-4">
                            <img width="60" src="https://kappa.lol/iQv67">
                          </div>
                          <div class="text-block text-center">
                            <p class="col-md-6 pt-3 ps-3 ms-1 ">Планшет</p>
                           </div>
                    </a>
                    </li>
                    <li class="cards col-lg-2 col-md-2 col-sm-12">
                      <a href="/index.html">
                            <div class="img-block text-center pt-4">
                              <img width="60" src="https://kappa.lol/r61QG">
                            </div>
                            <div class="text-block text-center">
                              <p class="col-md-6 pt-3 ps-3 ms-1">Интернет</p>
                             </div>
                      </a>
                      </li>
      </div>
  </div>
</section>

  <section class="content_services">
      <div class="container">
          <div class="row">
            <div class="text ms-5">
              <h3 class="pb-2" style="color: #153070; ">Как мы работаем</h3>
              <hr style="min-width: 1240px;margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid #333;">
            </div>
            <div class="block-services-1 ms-5">
              <div class="d-flex align-items-center">
                <img class="ms-4" src="https://kappa.lol/Oo8eo" alt="Картинка">
                <div class="text-service ms-4">
                  <h3 class="pt-2">Мастер в вашем районе</h3>
                  <p class="pb-2">В каждом районе Москвы и городе Подмосковья находятся от одного до трех выездных мастеров нашей компании, готовых как оперативно помочь при разовом обращении, так и обслуживать Вашу технику на постоянной основе. <a href="#rayony_obsluzhivaniya_pop" class="fancybox-inline">Поиск мастера в Вашем районе.</a></p>
                </div>
              </div>
              <hr style="min-width: 1240px;margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid #333;">
            </div>
            <div class="block-services-1 ms-5">
              <div class="d-flex align-items-center">
                <img class="ms-4" src="https://kappa.lol/vKDuW">
                <div class="text-service ms-4">
                  <h3 class="pt-2">Быстрый выезд</h3>
                  <p class="pb-2">Мы круглосуточно принимаем заявки на ремонт и назначаем ближайшего к вам мастера. Время реагирования от 40 минут. После назначения на заявку, специалист связывается с вами для подтверждения информации.</a></p>
                </div>
              </div>
              <hr style="min-width: 1240px;margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid #333;">
            </div>
            <div class="block-services-1 ms-5">
              <div class="d-flex align-items-center">
                <img class="ms-4" src="https://kappa.lol/Mlq2k">
                <div class="text-service ms-4">
                  <h3 class="pt-2">Бесплатная диагностика</h3>
                  <p class="pb-2">Выезд специалиста и диагностика осуществляется бесплатно. Вы оплачиваете только последующие работы, оцененные мастером в соответствии с прайс-листом после проведения осмотра вашей техники.*</a></p>
                </div>
              </div>
              <hr style="min-width: 1240px;margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid #333;">
            </div>
            <div class="block-services-1 ms-5">
              <div class="d-flex align-items-center">
               <img class="ms-4" src="https://kappa.lol/q4cFR">
                <div class="text-service ms-4">
                  <h3 class="pt-2">Срочный ремонт</h3>
                  <p class="pb-2">Все услуги по ремонту на выезде осуществляются незамедлительно, при необходимости, мастер предоставит все необходимые комплектующие. Сложный ремонт в сервисном центре осуществляет от 3 часов да нескольких дней.**</a></p>
                </div>
              </div>
              <hr style="min-width: 1240px;margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid #333;">
            </div>
            <div class="block-services-1 ms-5">
              <div class="d-flex align-items-center">
                <img class="ms-4" src="https://kappa.lol/-BkRI">
                <div class="text-service ms-4">
                  <h3 class="pt-2">Гарантия на услуги</h3>
                  <p class="pb-2">Мы предоставляем гарантию как на все виды комплектующие, от 3 до 36 месяцев, так и на весь перечень проведенных работ, от 2 до 52 недель. Будьте уверены, ваша техника в безопасности!***</a></p>
                </div>
              </div>
              <hr style="min-width: 1240px;margin: 20px 0;
                padding: 0;
                height: 0;
                border: none;
                border-top: 1px solid #333;">
            </div>
          </div>
      </div>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h1 class="text-center">Оставить заявку без регистрации</h1>
            <form action="/submit_request_service_request" method="POST">
              <div class="form-group mb-3">
                <label for="service">Услуга:</label>
                <select id="service" name="service" class="form-select">
                  <option value="Ремонт телефона">Ремонт телефона</option>
                  <option value="Ремонт ноутбука">Ремонт ноутбука</option>
                  <option value="Установка ПО">Установка ПО</option>
                  <!-- Добавьте здесь другие услуги по вашему выбору -->
                </select>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" name="recipientEmail" id="recipientEmail" aria-describedby="emailHelpId" placeholder="Введите адрес электронной почты" />
                <label for="recipientEmail">Адрес электронной почты получателя</label>
              </div>
              <button type="submit" class="btn btn-primary">Отправить заявку</button>
            </form>
          </div>
        </div>
      </div>
        <div class="container pt-5">
          <div class="row ms-5">
            <p style="font-size:14px">*Выезд специалиста и первичная диагностика вашей техники осуществляется бесплатно, при условии дальнейших работ. В первичную диагностику входит осмотр вашей техники и оценка предстоящих работ. При отказе Заказчика от дальнейших работ по причине, не зависящей от Исполнителя, выезд и первичная диагностика оплачиваются в соответствии с прайс-листом, 800 и 500 рублей соответственно.</p>
            <p style="font-size:14px">**Сроки ремонта могут быть расширены по причине отсутствия комплектующих. Корректировка сроков согласуется с заказчиком. При необходимости, изымается предоплата на заказ комплектующих.</p>
            <p style="font-size:14px">***Гарантийные сроки назначаются мастером в зависимости от перечня работ и состояния оборудования и фиксируются в акте выполненных работ. Гарантийные обязательства выполняются только в случае наличия соответствующих документов.</p>
            <p style="font-size:14px">Стоимость работ рассчитывается мастером после проведения первичной диагностики в соответствии с прайс-листом. Если вы хотите оценить стоимость предстоящих работ, воспользуйтесь разделом сайта с соответствующими услугами, или скачайть полный прайс-лист по <a href="/wp-content/images/price-easyrepair24.pdf" target="_blank">ссылке</a>. Так же, вы всегда можете проконсультироваться у наших операторов по телефону <a href="#">8 (813) 783-23-26</a>, мы постараемся детально ответить на интересующие вопросы.</p>
            <hr style="min-width: 1240px;margin: 20px 0;
            padding: 0;
            height: 0;
            border: none;
            border-top: 1px solid #333;">
          </div>
        </div>
  </section>
  <footer class="pt-5"><%- include('./partials/footer')%></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      <script>const infoItems = document.querySelectorAll('#info-list ul li');

        infoItems.forEach(item => {
          item.addEventListener('click', () => {
        
            infoItems.forEach(item => {
              item.classList.remove('active-info');
            });
      
       
            item.classList.add('active-info');
      
       
            const infoId = item.getAttribute('data-info');
        
            document.querySelectorAll('.info-item').forEach(info => {
              info.classList.remove('active-info');
            });
         
            document.getElementById(infoId).classList.add('active-info');
          });
        });
      
        document.addEventListener("DOMContentLoaded", function() {
          document.getElementById("navbarDropdown").addEventListener("click", function() {
            var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
              keyboard: false
            });
            myModal.show();
          });
        });
      
        $(document).ready(function(){
      
          $('.modal-link').click(function(e){
            e.preventDefault();
            var url = $(this).attr('href');
            window.open(url, '_blank');
          });
        });
      </script>
</body>
</html>
