

.img-block img {
    width:100%;
    border-radius: 9px;
}
.img-block {
    margin-top: -100px;
}
.img-block p{
    min-width:400px;
    
}
.container-fluid {
   display: flex ;
}

form.p-3{
    margin-top: -35px;
    margin-left: 50px;
    max-height: 680px;
    min-width: 450px;
    border: rgba(0, 0, 0, 0.206) solid 1px;
    border-radius: 15px;
   
}

form.p-3 input:hover {
    box-shadow: -1px 3px 45px -16px rgba(0, 0, 0, 0.75);
    scale: 1.01;
    transition: 0.4s;
}
.container.button button {
    color:white;
    background-color: rgb(43, 92, 184)
}
.container.button button:hover {
    box-shadow: -1px 3px 45px -16px rgba(0, 0, 0, 0.75);
    scale: 1.05;
    transition: 0.3s;
}
form.p-3 input {
    min-width: 400px;
}
.container.button {
    margin-left:100px;
    min-width: 400px;
}
.img-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.img-container h3.text-center {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
}
a.text-decoration-none {
    color: black;
    font-weight: 350;
   
}
a.text-decoration-none:hover {
    color:rgb(43, 92, 184);
}
.btn {
    color:white;
    background-color: rgb(43, 92, 184);
    min-width: 165px
}
.btn:hover { 
    color:white;
    background-color: rgb(43, 92, 184);
    box-shadow: -1px 3px 45px -16px rgba(0, 0, 0, 0.75);
    scale: 1.05;
    transition: 0.3s;
}

.form-control {
    width: 100%;
}

form.p-3.w{
    margin-top: 110px;
    margin-left: 50px;
   max-height: 450px;
    min-width: 450px;
    border: rgba(0, 0, 0, 0.206) solid 1px;
    border-radius: 15px;
   
}


@media screen and (max-width: 1200px) {
    form.p-3 {
        margin-left: 10px;
        min-width: 400px;
    }
}

@media screen and (max-width: 720px) {
    .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .img-block {
        margin-top: 0;
        text-align: center;
    }
    .img-block  {
       display: none;
    }
    .img-block p {
        min-width: unset;
    }

    form.p-3 {
        margin-left: 10px;
        min-width: 320px;
        max-height: unset;
    }

    form.p-3 input {
        min-width: 320px;
        width: 80%;
    }

    .container.button {
        margin-left: 10px;
        min-width: 320px;
    }

    .img-container img {
        width: 50%;
    }

    .img-container h3.text-center {
        font-size: 20px;
    }
}
